__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

*.pyc
staticfiles/
static/
media/
*.sqlite3

.docker/
.docker-data/

.env
.env.local
.env.production

.idea/
.vscode/
*.sublime-*
*.swp
*.swo

.DS_Store
Thumbs.db
