version: '3.9'

services:
  web:
    build: .
    command: ./entrypoint.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: stripe_db
      POSTGRES_USER: stripe_user
      POSTGRES_PASSWORD: stripe_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: